<mtapp:setting
   id="fix-entry-fields-order">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="fix-entry-fields-order" name="fix_entry_fields_order" value="1"<mt:if name="fix_entry_fields_order"> checked="checked"</mt:if>>
    <label class="custom-control-label" for="fix-entry-fields-order">
      記事・ページ編集画面のカスタムフィールドなどの順序を固定にする。
    </label>
  </div>
</mtapp:setting>

